<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}" id="changed-eat">
		{{#if eat}}Eat it!<br>{{else}}{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">X</button>
</li>
